@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Open+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}
body {
  padding: 40px 29px;
  height: 100%;
}
h2 {
  font-size: 20px;
}
p {
  font-size: 16px;
  font-weight: 300;
}
h1,
h2,
p {
  color: aliceblue;
}
body {
  background-color: #1b1b1b;
}
input {
  background-color: #2a2a2a;
  padding: 2vh 1vh;
  align-items: center;
  min-width: 85vw;
  border: none;
  border-radius: 1vh;
  color: #fff;
  margin-top: 4vh;
}
button {
  background: none;
  border: none;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
.sign-btns {
  border: 2px solid #ff7a00;
  border-radius: 0.5vh;

  width: 41px;
  height: 41px;
  color: #fff;
  font-size: 26px;
}
