.app__layout {
  position: absolute;
  padding: 6vw;
}

.app__layout-schematic {
  display: flex;
  justify-content: space-between;
  padding: 6vw;
  width: 88vw;
  flex-wrap: wrap;
  gap: 4vw;
  margin-top: 6vh;
  // height: 100px;
}
.app__layout-schematic-cont {
  display: flex;
  width: 32vw;
  height: 15vh;
  border-radius: 2vh;
  cursor: pointer;
  align-items: center;
  place-content: center;
}
